/* Festival details page */
.festival-details {
  color: #000;
  min-height: 100vh;
  padding: 128px 64px 48px;
  width: 100%;
  word-break: break-word;
}

/* Festival details buttons */
.festival-details-buttons {
  width: 25%;
  border-radius: 50%;
}

/* Festival details buttons section */
.festival-details-buttons-section {
  position: absolute;
  right: 0px;
  width: 25%;
  bottom: 7px;
  display: flex;
  justify-content: space-evenly;
}

/* Festival details buy button */
.festival-details-buy-btn {
  background-color: #88171a;
  border: 1px solid #ccc;
  color: #fff;
  font-weight: 500;
  height: 50px;
  padding: 12px 24px;
  width: 100%;
}

/* Festival details icon */
.festival-details-icon {
  height: 32px;
  margin-right: 8px;
}

/* Festival details images */
.festival-details-images {
  object-fit: cover;
  width: 100%;
  height: 500px;
}

/* Festival details images section */
.festival-details-images-section {
  border: 1px solid #ccc;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  padding: 0px !important;
  width: 100%;
}

/* Festival details information filters */
.festival-details-information-filters {
  border-bottom: 1px solid #ccc;
  margin: 0px 16px 48px;
}

/* Festival details on attendants, hosts and sponsors */
.festival-details-people-info {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid #ccc;
  padding: 8px !important;
}

/* Festival details sub-title */
.festival-details-sub-title {
  font-weight: 700;
}

/* Festival details text section */
.festival-details-text-section {
  background-color: rgba(249, 133, 55, 0.1);
  border: 1px solid #ccc;
  box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  padding: 0px !important;
}

/* Festival details title */
.festival-details-title {
  color: #88171a;
  font-size: 24px;
  font-weight: 700;
  text-align: left;
}

.festival-details-title-content {
  padding: 0px;
}

/* Festival details type */
.festival-details-type {
  background-color: #88171a;
  border-radius: 8px;
  color: #fff;
  padding: 12px;
  position: absolute;
  right: 24px;
  top: 24px;
}

/* Festival filters */
.festival-dropdown {
  width: 35%;
}

.festival-filters {
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  margin-right: 10%;
  margin-left: 10%;
  border-bottom: none;
}

.festival-filters-section {
  padding-top: 3%;
  border: 1px solid #ccc;
  border-bottom: none;
  border-top: none;
}

.festival-filters-select {
  margin-left: 1.5em;
  width: 100%;
}

.festival-filters-title {
  display: flex;
  justify-content: center;
}

.products-filter {
  display: flex;
  width: 100%;
  padding: 16px 16px 8px 16px;
}

.restaurant-cards-section {
  display: flex;
  flex-wrap: wrap;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .festival-details {
    padding: 128px 16px 48px;
  }

  .festival-details-information-filters {
    margin: 0px 16px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festival-details {
    padding: 128px 16px 48px;
  }

  .festival-details-information-filters {
    margin: 0px 0px 48px;
  }
}
