/* Services input */
.services-input {
  border: 1px solid #ccc;
  height: 200px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Services input icon */
.services-input-icon {
  float: right;
  margin-right: 13px;
  margin-top: -187px;
  position: relative;
}

/* Services submit button */
.services-submit-btn {
  background-color: #ff2d55;
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}
