/* Comment note */
.comment-note {
  border: 1px solid #ccc;
  height: 100px;
  margin-top: 16px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Comment note icon */
.comment-note-icon {
  float: right;
  margin-right: 13px;
  margin-top: -87px;
  position: relative;
}

/* Comment submit and toggle buttons */
.comment-submit-btn,
.comment-toggle-btn {
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}

.comment-submit-btn {
  background-color: #000;
}

.comment-toggle-btn {
  background-color: #00acee;
}
