/* Email verification page */
.email-verification {
  padding: 16px;
  text-align: center;
}

/* Email verification statement */
.email-verification-statement {
  font-size: 24px;
  padding-top: 8px;
}

/* Email verification Tasttlig logo */
.email-verification-tasttlig-logo {
  height: 48px;
  margin-bottom: 16px;
  width: 113px;

  &:hover {
    cursor: pointer;
  }
}
