/* Buy Passport banner image */
.buy-passport-banner-image {
  height: 100%;
  width: 100%;
}

/* Buy Passport image section */
.buy-passport-banner-image-section {
  margin-top: 80px;
  padding: 0px;

  .main-banner {
    height: 50vh;

    @media only screen and (min-width: 768px) and (max-width: 991px) {
      height: 100%;
      padding-bottom: 50px;
      padding-top: 50px;
    }

    .d-table {
      .d-table-cell {
        .container {
          .main-banner-content {
            &::before {
              border: none !important;
              box-shadow: none !important;
            }
          }
        }
      }
    }
  }
}

/* Buy Passport at bottom */
.buy-passport-bottom {
  background-color: #fff;
  bottom: 0;
  box-shadow: 0px -5px 10px #ccc;
  left: 0;
  padding: 16px 25%;
  position: fixed;
  text-align: center;
  width: 100%;
  z-index: 3;
}

/* Buy Passport call to action */
.buy-passport-call-to-action,
.buy-passport-call-to-action-bottom {
  width: 100%;

  &:hover {
    cursor: pointer;
  }
}

/* Buy Passport sub-title */
.buy-passport-sub-title {
  font-size: 20px;
}

/* Buy Passport summary */
.buy-passport-summary {
  background-color: #f6f4f7;
  padding: 120px 16px 16px;
}

/* Buy Passport summary section */
.buy-passport-summary-section {
  padding-bottom: 16px;
}

/* Buy Passport text */
.buy-passport-text {
  font-size: 15px;
}

/* Buy Passport title */
.buy-passport-title {
  font-size: 24px;
  font-weight: 700;
}

/* Responsive design at min width 992px */
@media screen and (min-width: 992px) {
  .buy-passport-bottom {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .buy-passport-summary {
    display: none;
  }
}
