/* Resources card */
.resources-card {
  word-break: break-word;
}

/* Resources card body */
.resources-card-body {
  font-size: 14px;
  font-weight: 300;
  padding: 8px 0px;
  text-align: left;
}

/* Resources card content */
.resources-card-content {
  border: 1px solid #ccc;
  margin-top: 16px;
  padding: 16px;
}

/* Resources card default and user pictures */
.resources-card-default-picture,
.resources-card-user-picture {
  height: 48px;
  margin-right: 8px;
  width: 48px;

  &:hover {
    cursor: pointer;
  }
}

.resources-card-default-picture {
  color: #ff2d55;
}

.resources-card-user-picture {
  border: 1px solid #ccc;
  border-radius: 50%;
}

/* Resources card description */
.resources-card-description {
  padding: 16px 0px;
}

/* Resources card flag */
.resources-card-flag {
  background: none;
  border: none;
  color: #00acee;
  float: right;
  margin-top: -48px;
  padding: 0px;
  position: relative;

  &:hover {
    color: #ff0000;
    cursor: pointer;
  }
}

/* Resources card title */
.resources-card-title {
  text-decoration: underline;
}

/* Resources card title and user name */
.resources-card-title,
.resources-card-user-name {
  font-weight: 700;
}

/* Resources card user date */
.resources-card-user-date {
  color: #707070;
  font-size: 14px;
}

/* Resources card user name hover */
.resources-card-user-name:hover {
  cursor: pointer;
  text-decoration: underline;
}

/* Report resources post input */
.report-resources-post-input {
  border: 1px solid #ccc;
  height: 100px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Report resources post input icon */
.report-resources-post-input-icon {
  float: right;
  margin-right: 13px;
  margin-top: -87px;
  position: relative;
}

/* Report resources post modal */
.report-resources-post-modal {
  background-color: #fff;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  z-index: 8;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .report-resources-post-modal {
    width: 75%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .report-resources-post-modal {
    border-radius: 0px;
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }
}
