/* Free Food Samples */
.free-food-samples {
  padding: 120px 15%;
  text-align: center;
}

/* Free Food Samples title */
.free-food-samples-title {
  color: #000;
  font-size: 32px;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
}

/* Get a Passport button */
.get-a-passport-btn {
  font-size: 24px;
  padding: 16px 32px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .free-food-samples {
    padding: 128px 7.5%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .free-food-samples {
    padding: 48px 16px;
  }
}
