/* Forgot password link */
.forgot-password-link {
  color: #1c2d55;
  font-weight: 500;

  &:hover {
    color: #1c2d55;
    text-decoration: underline;
  }
}

/* Login background */
.login-background {
  background-color: #fff;
  position: relative;
}

/* Login background image */
.login-background-image-one {
  background-image: url("../../assets/images/column-one-image.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  height: 100vh;
  position: relative;
}

.login-background-image-two {
  background-image: url("../../assets/images/column-three-image.jpg");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 30vh 90vh;
  height: 108vh;
  position: relative;
}

/* Login content */
.login-content {
  color: #000;
  padding: 96px 24px 24px;
}

/* Responsive design at max width 1199px */
@media screen and (max-width: 1199px) {
  .login-background-image-two {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .login {
    padding: 16px 12.5%;
  }

  .login-background-image-one {
    display: none;
  }

  .login-content {
    padding: 16px 12.5%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .login {
    padding: 16px 0px;
  }

  .login-content {
    padding: 16px;
  }
}
