/* Replace input focus blue glow with custom version */
input[type]:focus {
  border-color: #f5ae66;
  outline: none;
}

/* Nationality search bar */
.nationality-search-bar {
  padding: 0px 25% 0px;
}

.scroll {
  background-color: #f0f0f0;
  cursor: pointer;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 1.5rem;
  overflow-x: auto;

  &::-webkit-scrollbar {
    display: none;
  }
  .flag {
    border-radius: 10px;
    margin: 0 0.3rem;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .nationality-search-bar {
    padding: 0px 12.5% 0px;
  }
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .nationality-search-bar {
    padding: 0px 0% 0px;
  }
}
