$light-text: #abb0be;
$main-color: #6394f8;

.badge {
  background-color: #6394f8;
  border-radius: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  padding: 3px 7px;
  text-align: center;
  vertical-align: middle;
  white-space: nowrap;
}

.button {
  background: $main-color;
  border-radius: 3px;
  color: #fff;
  display: block;
  font-size: 16px;
  margin: 25px 0px 15px 0px;
  padding: 12px;
  text-align: center;
  text-decoration: none;

  &:hover {
    background: lighten($main-color, 3%);
  }
}

.cart-icon {
  color: #515783;
  float: left;
  font-size: 24px;
  margin-right: 7px;
}

.cart-container {
  margin: 70px -5px;
  position: fixed;
  width: 100%;
  z-index: 2;
}

.clearfix:after {
  clear: both;
  content: "";
  display: table;
}

.shopping-cart {
  background-color: #fff;
  border-radius: 3px;
  float: right;
  margin: 20px 0px;
  padding: 20px;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
  z-index: 2;

  .shopping-cart-header {
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 16px;

    .shopping-cart-total {
      float: right;
    }
  }

  .shopping-cart-items {
    max-height: 50vh;
    overflow-y: scroll;
    padding-top: 16px;

    li {
      margin-bottom: 18px;
    }

    img {
      float: left;
      margin-right: 12px;
    }

    .item-name {
      display: block;
      font-size: 16px;
    }

    .item-price {
      color: $main-color;
      margin-right: 8px;
    }

    .item-quantity {
      color: $light-text;
    }
  }
}
