/* Passport (Food Sample) details description */
.passport-details-description {
  padding-top: 32px;
}

/* Passport details image */
.passport-details-image {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
  height: auto;
  padding: 10px;
  width: 100%;
}

/* Passport (Food Sample) details modal */
.passport-details-modal {
  background-color: #fff;
  color: #000;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  word-break: break-word;
  z-index: 8;
  transition: all 450ms;
}

.passport-details-modal.view-tab-open {
  width: 80%;
  transition: all 450ms;
}

/* Passport (Food Sample) details owner by */
.passport-details-owner-by {
  color: #707070;
  font-size: 14px;
}

/* Passport (Food Sample) details owner default picture */
.passport-details-owner-default-picture {
  height: 48px;
  margin-right: 8px;
  width: 48px;
}

/* Passport (Food Sample) details owner picture hover */
.passport-details-owner-default-picture:hover,
.passport-details-owner-profile-picture:hover {
  cursor: pointer;
}

/* Passport (Food Sample) details owner information */
.passport-details-owner-information {
  color: #88171a;
  padding: 16px 0px !important;
}

/* Passport (Food Sample) details owner name */
.passport-details-owner-name {
  font-size: 14px;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

/* Passport (Food Sample) details owner profile picture */
.passport-details-owner-profile-picture {
  border-radius: 50%;
  height: 48px;
  margin-right: 8px;
  width: 48px;
}

/* Passport (Food Sample) details title */
.passport-details-sub-title {
  font-weight: 700;
}

.passport-details-title {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

/* Passport (Food Sample) item title */
.passport-item-title {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 0px 8px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .passport-details-modal {
    width: 75%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .passport-details-modal {
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }
}
