/* Hosts page */
.hosts {
  padding: 160px 80px 80px;
}

/* Hosts options */
.hosts-create-your-own {
  background-color: #88171a;
  color: #fff;
  font-size: 24px;
  font-weight: 500;
  margin: 0px auto;
  padding: 18px 24px;
  width: 50%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

.hosts-option {
  border: 4px solid #ccc;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  padding: 24px;
  width: 100%;

  &:hover {
    color: #000;
  }
}

.hosts-option-content-experiences {
  padding: 0px 0px 48px 24px !important;
}

.hosts-option-content-festivals {
  padding: 0px 24px 48px 0px !important;
}

/* Hosts title */
.hosts-title {
  color: #000;
  margin-bottom: 48px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .hosts {
    padding: 128px 16px 48px;
  }

  .hosts-create-your-own {
    width: 100%;
  }

  .hosts-option-content-experiences,
  .hosts-option-content-festivals {
    padding: 0px 0px 48px 0px !important;
  }
}
