/* Experience feedback card */
.experience-feedback-card {
  padding-top: 48px;
}

/* Experience feedback card default picture */
.experience-feedback-card-default-picture {
  color: #73887d;
  height: 48px;
  margin-right: 8px;
  width: 48px;
}

/* Experience feedback card flag */
.experience-feedback-card-flag {
  background: none;
  border: none;
  color: #f5ae66;
  float: right;
  margin-right: 16px;
  margin-top: -32px;
  padding: 0px;
  position: relative;
}

/* Experience feedback card flag hover */
.experience-feedback-card-flag:hover {
  color: #ff0000;
  cursor: pointer;
}

/* Experience feedback card line */
.experience-feedback-card-line {
  margin: 24px 0px !important;
}

/* Experience feedback card user */
.experience-feedback-card-user {
  justify-content: center;
  padding-top: 16px;
  text-align: left;
}

/* Experience feedback card user date */
.experience-feedback-card-user-date {
  color: #707070;
  font-size: 14px;
}

/* Experience feedback card user name */
.experience-feedback-card-user-name {
  font-weight: 700;
}

/* Experience feedback card user picture */
.experience-feedback-card-user-picture {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 48px;
  margin-right: 8px;
  width: 48px;
}

/* Experience feedback delete button */
.experience-feedback-delete-btn {
  background-color: #ff0000;
  border: none;
  border-radius: 24px;
  color: #fff;
  margin-top: 16px;
  padding: 12px 24px;
  width: 100%;
}

/* Report feedback input */
.report-feedback-input {
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 100px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Report feedback input icon */
.report-feedback-input-icon {
  float: right;
  margin-right: 13px;
  margin-top: -87px;
  position: relative;
}

/* Report feedback modal */
.report-feedback-modal {
  background-color: #fff;
  border-radius: 16px;
  left: 50%;
  margin: 80px 0px;
  padding: 32px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  z-index: 8;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .report-feedback-modal {
    width: 75%;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .report-feedback-modal {
    border-radius: 0px;
    height: 100%;
    margin: 0px;
    overflow: auto;
    padding: 16px;
    width: 100%;
  }
}
