/* Bio details */
.bio-details {
  border: 1px solid #ccc;
  height: 150px;
  padding: 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

///* Banner image uploader */
//.dropbox {
//  display: flex;
//  flex-direction: column;
//  align-items: center;
//  justify-content: center;
//  outline-offset: -10px;
//  color: dimgray;
//  height: 350px;
//  position: relative;
//  cursor: pointer;
//  border: 4px dashed #888;
//  background-color: #f1f1f1;
//  font-size: 20px;
//  padding: 16px;
//  text-align: center;
//}
//
//@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
//  // IE10+ CSS here
//  .dropbox .message {
//    position: relative;
//    top: 35px;
//  }
//}
//.dropbox .input-file {
//  display: block;
//  opacity: 0; /* invisible but it's there! */
//  width: 100%;
//  height: 135px;
//  position: absolute;
//  cursor: pointer;
//}
//.dropbox:hover {
//  background-color: #e1e1e1;
//}
//.dropbox-dragging {
//  border: 8px solid #888;
//  background-color: #e1e1e1;
//  .message {
//    opacity: 0.5;
//  }
//}
//.dropbox p {
//  font-size: 1.2em;
//  text-align: center;
//  padding: 50px 0;
//}
//
//.dropbox .img-preview img {
//  height: 350px;
//}

/* Profile image uploader */
.profile-image-uploader {
  margin: 48px 0px 32px;
  text-align: left;

  .banner-avatar {
    border-radius: 50%;
    height: 64px;
    margin-right: 24px;
    overflow: hidden;
    width: 64px;

    img {
      height: 100%;
      width: 100%;
    }
  }

  input[type="file"] {
    display: block;
    margin-bottom: 8px;
  }
}
