.view-claimed {
background-color: black;
}

.search-icon {
	position: absolute;
	top: -10px;
	font-size: 24px;
	color: #555;
	right: 18px;
}
.heading {
	font-size: 30px;
	padding: 16px 0;
	color: #444;
	text-align: center;
}
/*Container*/
.container-search {
	margin: 36px auto;
	width: 40%;
	max-width: 800px;
}
.search-label {
	position: relative;
}
.container-search input {
	width: 100%;
	padding: 10px;
	// font-size: 36px;
	font-style: italic;
	color: #444;
	box-sizing: border-box;
	outline: none;
}