/* Cursor pointer */
.cursor-pointer {
    cursor: pointer;
  }
  
  /* Edit profile link */
  .edit-profile-link {
    color: #1c2d55;
    font-weight: 500;
  
    &:hover {
      color: #1c2d55;
      text-decoration: underline;
    }
  }
  
  /* Host section */
  .host {
    color: #000;
    padding: 128px 80px 48px;
    word-break: break-word;
  }
  
  /* Host default picture */
  .host-default-picture {
    border-radius: 50%;
    color: #88171a;
  }
  
  /* Host items */
  .host-items {
    display: flex;
    flex-wrap: wrap;
  }
  
  /* Host profile banner */
  .host-profile-banner {
    .host-profile-banner-simple {
      .banner-content {
        margin-bottom: 0px;
        padding: 0px !important;
  
        .banner-avatar {
          border-radius: 50%;
          height: 64px;
          margin-bottom: 24px;
          overflow: hidden;
          width: 64px;
  
          img {
            height: 100%;
            width: 100%;
          }
        }
      }
  
      .banner-images {
        overflow-x: hidden;
        .banner-images-wrapper {
          width: 100%;
  
          .banner-color-block-container {
            height: 95%;
            position: absolute;
            right: 0;
            top: -40px;
            width: 40%;
  
            .banner-color-block {
              background: #88171a;
              height: 100%;
              position: relative;
              width: 100%;
            }
          }
  
          .main-banner-image {
            background: #e7e7e9 center;
            background-image: url("../../assets/images/default-restaurant-image.png");
            background-size: cover;
            height: 300px;
            margin-top: 20px;
            min-width: 346px;
            object-fit: cover;
            position: relative;
            width: 90%;
          }
        }
      }
    }
  }
  
  /* Host profile name */
  .host-profile-name {
    font-size: 30px;
    font-weight: 600;
  }
  
  /* Host profile picture */
  .host-profile-picture {
    border-radius: 50%;
    height: 80px;
    width: 80px;
  }
  
  /* Host profile tag line */
  .host-profile-tag-line {
    font-size: 32px;
    font-weight: 700;
    padding-right: 16px;
  }
  
  /* Responsive design at max width 991px */
  @media only screen and (max-width: 991px) {
    .host {
      padding: 128px 32px 48px;
    }
  }
  
  /* Responsive design at max width 767px */
  @media only screen and (max-width: 767px) {
    .host {
      padding: 128px 16px 48px;
    }
  
    .host-profile-tag-line {
      padding-right: 0px;
    }
  }
  