#ExperienceList {
  //add all the css for the ExperienceList and its child components here
  background-color: #ccc;
  
  .Experiencelist-card {
    width: 22rem;

    .extra-padding {
      padding-top: 6px;
      padding-bottom: 6px;
    }

    span.extra-padding {
      display: inline-block;
    }
  }
}
