/* Create food sample page */
.create-food-sample {
  color: #000;
  word-break: break-word;
}

/* Create food sample end date and time */
.create-food-sample-end-date,
.create-food-sample-end-time {
  padding: 0px 0px 0px 8px !important;
}

/* Create food sample start date and time */
.create-food-sample-start-date,
.create-food-sample-start-time {
  padding: 0px 8px 0px 0px !important;
}

/* Create food sample title */
.create-food-sample-title {
  font-size: 2em;
  font-weight: 600;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .create-food-sample {
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .create-food-sample {
  }

  .create-food-sample-end-date,
  .create-food-sample-end-time,
  .create-food-sample-start-date,
  .create-food-sample-start-time {
    padding: 0px !important;
  }
}
