/* About page */
.about {
  color: #000;
  min-height: 100vh;
  padding: 128px 80px 48px;
  width: 100%;
  word-break: break-word;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .about {
    padding: 128px 32px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .about {
    padding: 128px 16px 48px;
  }
}
