.subscriptions-tab-switcher {
  width: 50%;
  margin: 0 auto;
}

.fa-check-circle {
  color: #88171a;
  margin-right: 1em;
}

.bg-color {
  background-color: #daedf5;
}
.nav-space {
  padding-top: 70px;
}
.pricing-image {
  background-image: url('../../../assets/images/pricing.jpg');
  height: 30vh;
  width: 100%;
  background-size: cover;
  resize: both;
}
.tab {
  padding: 0.3em;
  box-shadow: none;
  border-radius: 26px;
  border: none;
  background-color: #fff;
  //background: none;
  transition: all 200ms;
  &:hover {
    background-color: #ccc;
    color: #000;
    transition: all 250ms;
  }
}
.active-tab {
  padding: 0.3em;
  box-shadow: none;
  border-radius: 26px;
  border: none;
  background: none;
  background-color: #88171a;
  color: #fff;
  font-weight: 600;
  transition: all 200ms;
  &:hover {
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
    transition: all 250ms;
  }
}

.card {
  margin: 1em;
  background-color: #eee;
  border-radius: 26px;
  padding: 2em;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 450ms;

  &:hover {
    transform: scale(1.04);
    transition: all 450ms;
  }

  .pricing-button-primary {
    padding: 0.5em 1em;
    background-color: #88171a;
    border-radius: 26px;
    border: none;
    color: #fff;
    font-weight: 600;
    &:hover {
      opacity: 0.8;
      transition: all 450ms;
    }
  }

  .pricing-button-disabled {
    background-color: rgb(85, 85, 85);
    color: #000;
    &:hover {
      cursor: default;
      opacity: 1;
    }
  }
}

.card-disabled {
  background-color: #aaa;
  border-radius: 26px;
  padding: 2em;
  border: none;

  .fa-check-circle {
    color: #000;
  }
}

.absolute-div {
  position: absolute;
  bottom: 20px;
  width: 80%;
  right: 10%;
}

.cards-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;

  .card-title {
    font-size: 1.5em;
    font-weight: 600;
  }
}
