.passport-activities__card {
  position: relative;
  height: 200px;
  background-color: #fff;
  border-radius: 26px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: all 450ms;
  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    transition: all 450ms;
  }

  .passport-activities__card-title {
    font-size: 1.5em;
  }

  .passport-activites__card-count {
    position: absolute;
    margin-right: 0.5em;
    margin-top: 0.5em;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // width: 50px;
    padding: 0.5em 1em;
    background-color: #88171a;
    color: #fff;
    font-weight: 600;
    border-radius: 26px;
  }

  .passport-activites__card-edit-action {
    position: absolute;
    margin-right: 0.5em;
    margin-top: 0.5em;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    // width: 50px;
    padding: 0.5em 1em;
    color: #000;
    font-weight: 600;
    border-radius: 26px;
    transition: all 450ms;
    &:hover {
      color: #88171a;
      transition: all 450ms;
    }
  }

  .passport-activities__card-festival-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1em;
    color: #6e6e6e;
  }
}

.passport-activities__full-card {
  position: relative;
  height: 100% !important;
  background-color: #fff;
  border-radius: 26px;
  padding: 1em;
  margin-bottom: 1em;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25);
  transition: all 450ms;

  .passport-activities__card-title {
    font-size: 1.5em;
  }

  .passport-activites__full-card-exit {
    position: absolute;
    margin-right: 0.5em;
    margin-top: 0.5em;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #88171a;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 26px;
    transition: all 450ms;
    &:hover {
      cursor: pointer;
      color: #000;
      transition: all 450ms;
    }
  }

  .passport-activites__full-card-edit {
    position: absolute;
    margin-right: 2em;
    margin-top: 0.5em;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: #88171a;
    font-weight: 600;
    font-size: 1.5em;
    border-radius: 26px;
    transition: all 450ms;
    &:hover {
      cursor: pointer;
      color: #000;
      transition: all 450ms;
    }
  }

  .passport-activities__card-festival-list {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font-size: 1em;
    color: #6e6e6e;
  }
}

// Past Festivals Full View

.passport-full-view-festival-card {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  margin: 0.5em 0.5em !important;
  border-radius: 26px;
  background-color: #88171a;
  color: #fff;
  transition: all 450ms;
  &:hover {
    transition: all 450ms;
    transform: scale(1.02);
  }

  .fas {
    margin-right: 0.5em;
  }

  .passport-festival-card__left {
    width: 70% !important;
  }

  .passport-festival-card__name {
    font-size: 1.5em;
    line-height: 1;
    font-weight: 600;
  }

  .passport-festival-card__misc-info {
    font-size: 0.8em;
  }

  .passport-festival-card__view-button {
    padding: 0.5em 1em;
    background-color: #fff;
    color: #000;
    font-weight: 600;
    border: none;
    border-radius: 26px;
    transition: all 450ms;
    &:hover {
      color: #88171a;
      background-color: #ccc;
      transition: all 450ms;
    }
  }
}

//
