/* Plans (Business) */
.plans-business {
  color: #000;
  min-height: 100vh;
  width: 100%;
  word-break: break-word;
}

/* Plans (Business) options */
.plans-business-advanced,
.plans-business-basic,
.plans-business-free,
.plans-business-intermediate,
.plans-business-pro {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 16px;
}

.plans-business-advanced,
.plans-business-pro {
  background-color: #1c2d55;
}

.plans-business-basic {
  background-color: #48582d;
}

.plans-business-free {
  background-color: #707070;
}

.plans-business-intermediate {
  background-color: #88171a;
}

/* Plans (Business) buttons */
.plans-business-advanced-btn,
.plans-business-basic-btn,
.plans-business-intermediate-btn,
.plans-business-pro-btn {
  color: #fff;
  font-size: 16px !important;
  font-weight: 500;
  padding: 12px 16px;
}

.plans-business-advanced-btn,
.plans-business-pro-btn {
  background-color: #1c2d55;
}

.plans-business-basic-btn {
  background-color: #48582d;
}

.plans-business-intermediate-btn {
  background-color: #88171a;
}

/* Plans (Business) banner */
.plans-business-banner {
  border-radius: 0px !important;
  margin-bottom: 0px !important;
  padding: 128px 80px 48px !important;
  text-align: center;
}

/* Plans (Business) banner statement */
.plans-business-banner-statement {
  color: #000;
  margin: 0px auto;
}

/* Plans (Business) check */
.plans-business-check {
  color: #008000;
}

/* Plans (Business) price */
.plans-business-discount-price,
.plans-business-price {
  color: #008000;
  font-weight: 700;
}

.plans-business-free-price {
  font-weight: 700;
}

.plans-business-original-price {
  color: #707070;
  text-decoration: line-through;
}

/* Plans (Business) footer */
.plans-business-footer {
  background-color: #e9ecef;
  padding: 48px 80px;
}

.plans-business-footer-text {
  color: #000;
  font-weight: 700;
}

/* Plans (Business) get started buttons */
.plans-business-get-started-btn {
  background-color: #007bff;
  color: #fff;
  font-weight: 500;
  padding: 12px 16px;
  width: 100%;

  &:hover {
    color: #fff;
    cursor: pointer;
  }
}

/* Plans (Business) subscription options */
.plans-business-subscription-options {
  min-height: 100vh;
  padding: 128px 25% 0px;
}

/* Responsive design at min width 1200px */
// @media screen and (min-width: 1200px) {
//   .plans-business-subscription-text {
//     min-height: 562px;
//   }
// }

/* Responsive design at max width 1199px */
@media screen and (max-width: 1199px) {
  .plans-business-banner {
    padding: 128px calc(12.5% + 16px) 48px !important;
  }

  .plans-business-footer {
    padding: 48px calc(12.5% + 16px);
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .plans-business-banner {
    padding: 128px 32px 48px !important;
  }

  .plans-business-banner-statement {
    font-size: 32px;
  }

  .plans-business-footer {
    padding: 48px 32px;
  }

  .plans-business-subscription-options {
    padding: 128px 12.5% 0px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .plans-business-banner {
    padding: 128px 16px 48px !important;
  }

  .plans-business-footer {
    padding: 48px 16px;
  }

  .plans-business-subscription-options {
    padding: 128px 16px 0px;
  }
}
