/* Buy a Festival Pass button */
.buy-a-festival-pass-btn {
  font-size: 24px;
  margin-top: 120px;
  padding: 16px 32px;
  text-align: center;

  &:hover {
    cursor: pointer;
  }
}

/* How it Works */
.how-it-works {
  background-color: #f6f4f7;
  padding: 120px 16px;
  text-align: center;
}

/* How it Works content */
.how-it-works-content {
  padding: 32px !important;
}

/* How it Works text */
.how-it-works-text {
  font-size: 32px;
  padding: 32px;
}

/* How it Works timeline */
.how-it-works-timeline {
  background-color: #00acee;
  display: block;
  height: 75%;
  left: 50%;
  margin-top: 32px;
  position: absolute;
  transform: translateX(-50%);
  width: 4px;
}

/* How it Works timeline circle (left) */
.how-it-works-timeline-circle-left {
  left: -10px;
}

/* How it Works timeline circle (left and right) */
.how-it-works-timeline-circle-left,
.how-it-works-timeline-circle-right {
  background-color: #00acee;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

/* How it Works timeline circle (right) */
.how-it-works-timeline-circle-right {
  right: -10px;
}

/* How it Works title */
.how-it-works-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  padding-bottom: 48px;
  text-align: center;
}

/* Responsive design at min width 992px */
@media screen and (min-width: 992px) {
  .how-it-works-responsive {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .how-it-works-section {
    display: none;
  }
}
