.festival-card {
  -webkit-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  -moz-box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  box-shadow: 1px 1px 10px rgba(63, 63, 63, 0.166);
  margin: 0.5em;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 20px;
  background-color: #88171a;
  color: #fff;
  transition: all 450ms;
  &:hover {
    transform: scale(1.03);
    transition: all 450ms;
  }

  .fas {
    width: 20px;
  }

  background-color: #000;
  

  .main-festival-info {
    z-index: 0;
    margin-top: -100px;
    padding: 1em;
    .festival-name {
      line-height: 1;
      font-size: 2.3em;
      font-weight: 600;
    }
    .festival-price {
      .price-stronger {
        font-size: 1.5em;
      }
    }
    .festival-info {
      display: flex;
      flex-direction: row;
      margin: 5px 0;
      justify-content: space-between;
      .fas {
        margin-right: 5px;
      }
    }
    .festival-description {
      p {
        color: rgb(223, 223, 223);
        line-height: 1.2;
      }
    }
  }

  .host-sponsor-vend {
    z-index: 1;
    padding: 0.5em 0.5em;
    margin: 0 auto;
    // background-color: #88171a;
    // width: 80%;
    color: #000;
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 1em;
    font-weight: 600;
    a {
      color: #000;
      &:hover {
        color: #fff;
        transition: all 300ms;
      }
    }

    .host-button {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .sponsor-button {
      cursor: pointer;
      padding: 0 1em;
      border-radius: 20px;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
    .vend-button {
      cursor: pointer;
      border-radius: 20px;
      padding: 0 1em;
      transition: all 300ms;
      &:hover {
        background-color: #88171a;
        color: #fff;
        transition: all 300ms;
        a {
          color: #fff;
        }
      }
    }
  }

  .purchase-ticket-button {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #000;
    font-weight: 600;
    font-size: 1.2em;
    width: 100%;
    border-radius: 0px 0px 20px 20px;
    padding: 0.5em;
    transition: all 300ms;
    a {
      color: #fff;
    }
    &:hover {
      opacity: 0.5;
      transition: all 300ms;
    }
    .fas {
      margin-right: 0.5em;
    }
  }

  .festival-card-photo {
    width: 100%;
    height: 250px;
    position: relative;
    &::after {
      overflow: hidden;
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgb(136, 23, 26);
      background: linear-gradient(
        0deg,
        rgba(136, 23, 26, 1) 24%,
        rgba(136, 23, 26, 0.2) 82%,
        rgba(0, 0, 0, 0) 100%
      );
    }

    img {
      border-radius: 20px;
    }

    .days-remaining {
      top: 0px;
      right: 0px;
      margin-top: 10px;
      margin-right: 10px;
      position: absolute;
      background-color: #fff;
      border-radius: 20px;
      padding: 0.5em;
      z-index: 1;
      color: #88171a;
      font-size: 0.8em;
      -webkit-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      -moz-box-shadow: 1px 1px 10px rgb(63, 63, 63);
      box-shadow: 1px 1px 10px rgb(63, 63, 63);
    }
  }
}

// below 480px
@media screen and (max-width: 480px) {
  .festival-card {
    background-color: black;
  }
}
