/* Host applicants */
.host-applicants {
  border: 1px solid #ccc;
  margin-top: 16px;
  padding: 16px;
  word-break: break-word;
}

/* Host applicants accept */
.host-applicants-accept {
  padding: 16px 8px 0px 0px !important;
}

/* Host applicants accept button */
.host-applicants-accept-btn {
  background-color: #008000;
}

/* Host applicants accept, reject, and replied */
.host-applicants-accept-btn,
.host-applicants-reject-btn,
.host-applicants-replied {
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}

/* Host applicants contact */
.host-applicants-contact {
  color: #00acee;

  &:hover {
    color: #00acee;
    text-decoration: underline;
  }
}

/* Host applicants content */
.host-applicants-content {
  text-align: left;
}

/* Host applicants default picture */
.host-applicants-default-picture {
  color: #88171a;
}

/* Host applicants details section */
.host-applicants-details-section {
  padding: 0px !important;
}

/* Host applicants picture section */
.host-applicants-picture-section {
  padding: 0px 16px 0px 0px !important;
}

/* Host applicants reject */
.host-applicants-reject {
  padding: 16px 0px 0px 8px !important;
}

/* Host applicants reject button */
.host-applicants-reject-btn {
  background-color: #ff0000;
}

/* Host applicants reject note */
.host-applicants-reject-note {
  border: 1px solid #ccc;
  height: 100px;
  margin-top: 16px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Host applicants reject note icon */
.host-applicants-reject-note-icon {
  float: right;
  margin-right: 13px;
  margin-top: -87px;
  position: relative;
}

/* Host applicants reject note submit button */
.host-applicants-reject-note-submit-btn {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}

/* Host applicants replied */
.host-applicants-replied {
  background-color: #707070;
  margin-top: 16px;
  text-align: center;
}

/* Host applicants user picture */
.host-applicants-user-picture {
  border: 1px solid #ccc;
  border-radius: 50%;
  height: 112px;
  width: 112px;
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .host-applicants-picture-section {
    margin-bottom: 16px;
    padding: 0px !important;
  }
}
