.information-buttons {
    background-color: #6c0404;
    color: #fff;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 100%;
}


.do-you-have-a-restaurant-yes-btn1 {
    background-color:#660303;
    color: #fff;
    margin-bottom: 16px;
    padding: 12px 16px;
    width: 100%;
    padding-right: 20px;
    border-radius: 15px;
}

.do-you-have-a-restaurant-yes-btn1:hover {
    color: #fff;
    cursor: pointer;
}

.button1{
    padding-right: 30px;
}

.h1{
    color:#660303;  
    padding-right: 50px;
}
