/* Admin page */
.admin {
  color: #000;
  word-break: break-word;
}

/* Admin content */
.admin-content {
  // border: 8px solid #000;
  background-color: #eee;
  color: #000;
  border-radius: 26px;
  padding: 16px;
  text-align: center;
  width: 100%;
  transition: all 300ms;

  &:hover {
    background-color: #88171a;
    color: #fff !important;
    text-decoration: none;
    transition: all 300ms;
  }
}

/* Admin icon */
.admin-icon {
  margin-bottom: 8px;
}

/* Admin section */
.admin-section {
  padding: 8px !important;
}

/* Admin sub-title */
.admin-sub-title {
  font-weight: 500;
}

/* Admin title */
.admin-title {
  font-size: 32px;
  font-weight: 700;
  padding: 0px 8px 16px;
  text-align: left;
}

/* Create member page for admin */
.create-member {
  color: #000;
  padding: 128px 25% 48px;
}

/* Create user title */
.create-user-title {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: left;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .admin {
    padding: 128px 32px 48px;
  }

  .admin-section {
    padding: 8px 0px !important;
  }

  .admin-title {
    text-align: center;
  }

  .create-member {
    padding: 128px 12.5% 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .admin {
    padding: 128px 16px 48px;
  }

  .create-member {
    padding: 128px 16px 48px;
  }
}
