.ticket-content {
  margin-top: 130px;
}
/* Festivals banner */
.festivals-banner {
  background-image: url("../../assets/images/festival-food.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 50vh;
  position: relative;
  width: 100%;
}

.festivals-banner::before {
  background-color: #000;
  content: "";
  height: 100%;
  left: 0;
  opacity: 0.25;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

/* Festivals banner title */
.festivals-banner-title {
  background-color: rgba(249, 133, 55, 0.63);
  color: #000;
  font-weight: 500;
  margin: 48px 0px 0px;
  padding: 32px;
}

/* Festivals banner value proposition */
.festivals-banner-value-proposition {
  left: 50%;
  padding: 0px 80px;
  position: absolute;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
}

/* Festivals filter content */
.festivals-filter-content {
  padding: 0px 16px !important;
}

/* Festivals filter (day, location and time) */
.festivals-filter-date,
.festivals-filter-location,
.festivals-filter-time {
  background-color: transparent;
  font-size: 14px;
  margin-bottom: 16px;
  padding-left: 40px;

  &:focus {
    background-color: transparent;
  }

  &:hover {
    cursor: pointer;
  }
}

/* Festivals filter icons */
.festivals-filter-day-icon,
.festivals-filter-location-icon,
.festivals-filter-search-icon,
.festivals-filter-time-icon {
  color: #c04c2a;
  left: 29px;
  position: absolute;
  top: 46px;
}

/* Festivals filter name */
.festivals-filter-name {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 8px;
}

/* Festivals page */
.festivals-page {
  color: #000;
  display: inline-block;
  min-height: 100vh;
  width: 100%;
  word-break: break-word;
}

/* Festivals page cards */
.festivals-page-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Festivals sub-title */
.page-sub-title {
  color: #000;
  margin: 32px 16px;
  margin-top: 120px;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .festivals-banner-title {
    font-size: 32px;
    padding: 16px;
  }

  .festivals-banner-value-proposition {
    padding: 0px 32px;
  }

  .festivals-sub-title {
    font-size: 32px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .festivals-banner-title {
    font-size: 24px;
    padding: 16px;
  }

  .festivals-banner-value-proposition {
    padding: 0px 16px;
    width: 100%;
  }

  .festivals-filter-content {
    padding: 0px !important;
  }

  .festivals-filter-day-icon,
  .festivals-filter-location-icon,
  .festivals-filter-search-icon,
  .festivals-filter-time-icon {
    left: 13px;
  }

  .festivals-sub-title {
    font-size: 24px;
    margin: 32px 0px;
  }
}
