// /* Become a Host */
// .become-a-host {
//   padding: 120px 25% 48px;
// }

// /* Become a Host description */
// .become-a-host-description {
//   border: 1px solid #ccc;
//   height: 200px;
//   padding: 12px;
//   resize: none;
//   vertical-align: top;
//   width: 100%;
// }

// /* Become a Host title */
// .become-a-host-title {
//   font-size: 32px;
//   font-weight: 700;
//   margin-bottom: 16px;
//   text-align: center;
// }

// /* Responsive design at max width 991px */
// @media screen and (max-width: 991px) {
//   .become-a-host {
//     padding: 120px 12.5% 48px;
//   }
// }

// /* Responsive design at max width 767px */
// @media screen and (max-width: 767px) {
//   .become-a-host {
//     padding: 120px 16px 48px;
//   }
// }
