/* Experience created */
.experience-created {
  border: 1px solid #ccc;
  padding: 16px;
  word-break: break-word;
}

/* Experience created accept */
.experience-created-accept {
  padding: 16px 8px 0px 0px !important;
}

/* Experience created accept button */
.experience-created-accept-btn {
  background-color: #008000;
}

/* Experience created accept, reject, and replied */
.experience-created-accept-btn,
.experience-created-reject-btn,
.experience-created-replied {
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}

/* Experience created contact */
.experience-created-contact {
  color: #00acee;

  &:hover {
    color: #00acee;
    text-decoration: underline;
  }
}

/* Experience created details section */
.experience-created-details-section {
  padding: 0px !important;
  text-align: left;
}

/* Experience created image */
.experience-created-image {
  border: 1px solid #ccc;
  height: auto;
  width: 100%;
}

/* Experience created image section */
.experience-created-image-section {
  padding: 0px 16px 0px 0px !important;
}

/* Experience created reject */
.experience-created-reject {
  padding: 16px 0px 0px 8px !important;
}

/* Experience created reject button */
.experience-created-reject-btn {
  background-color: #ff0000;
}

/* Experience created reject note */
.experience-created-reject-note {
  border: 1px solid #ccc;
  height: 100px;
  margin-top: 16px;
  padding: 12px 44px 12px 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Experience created reject note icon */
.experience-created-reject-note-icon {
  float: right;
  margin-right: 13px;
  margin-top: -87px;
  position: relative;
}

/* Experience created reject note submit button */
.experience-created-reject-note-submit-btn {
  background-color: #000;
  border: none;
  color: #fff;
  padding: 12px 24px;
  width: 100%;
}

/* Experience created replied */
.experience-created-replied {
  background-color: #707070;
  margin-top: 16px;
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .experience-created-image {
    margin-bottom: 16px;
  }

  .experience-created-image-section {
    padding: 0px !important;
  }
}
