/* Edit profile page */
.edit-profile {
  margin: 0px auto;
  max-width: 960px;
  padding: 80px 0px 48px;
}

/* Edit profile title */
.edit-profile-title {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 32px;
}

/* Profile form */
.profile-form {
  padding: 0px !important;
}

/* Profile link */
.profile-link {
  color: #000;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

/* Save profile button */
.save-profile-btn {
  background-color: #ff2d55;
  border: none;
  color: #fff;
  padding: 12px 24px;
  text-align: left;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .edit-profile {
    margin: 0px;
    max-width: 991px;
    padding: 80px 16px 48px;
  }
}
