/* Input fields for location modal */
.business-city,
.business-postal-code,
.business-province-territory,
.business-street-address,
.facebook,
.instagram,
.linkedin,
.twitter,
.website,
.twitter,
.youtube {
  border: 1px solid #ccc;
  font-family: "Poppins", Arial, sans-serif !important;
  padding: 12px 44px 12px 12px;
  width: 100%;
}

/* Your location */
.your-location {
  font-size: 24px;
  font-weight: 700;
  padding: 32px 0px 16px;
}
