/* Passport (Food Samples) page */
.passport {
  color: #000;
  display: inline-block;
  min-height: 100vh;
  padding: 128px 64px 80px;
  width: 100%;
  word-break: break-word;
}

/* Passport (Food Samples) cards */
.passport-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Passport date/time selector */
.passport-date-time {
  margin-bottom: 16px;

  &:hover {
    cursor: pointer;
  }
}

/* Passport filters */
.passport-filters {
  padding-top: 16px;

  .filter-section-header {
    font-size: 20px;
    font-weight: 700;
    line-height: 16px;
  }

  .filter-section-categories {
    input[type="datetime-local"] {
      width: 100%;
    }
  }

  .filter-section-categories ul {
    list-style: none;
    padding: 0px;
  }

  .filter-section-categories ul li input {
    margin-right: 10px;
  }

  .passport-filters hr {
    margin-bottom: 16px;
    margin-top: 16px;
  }
}

/* Passport (Food Samples) page title */
.passport-page-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 16px;
  padding: 0px 16px;
  text-align: left;
}

/* Passport (Food Samples) search */
.passport-search {
  margin-bottom: 16px;
  padding: 0px 16px !important;
}

/* Passport (Food Samples) sub-title */
.passport-sub-title {
  font-size: 24px;
  font-weight: 700;
  padding: 16px 16px 0px;
}

/* Passport (Food Samples) title */
.passport-title {
  font-weight: 700;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .passport {
    padding: 128px 16px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .passport-page-title {
    padding: 0px !important;
  }

  .passport-search {
    padding: 0px !important;
  }

  .passport-sub-title {
    padding: 0px;
  }
}

#no_more_samples {
  align-items: center;
  display: flex;
  flex-basis: 100%;
  margin-top: 1em;
}

#no_more_samples::before,
#no_more_samples::after {
  background: rgba(0, 0, 0, 0.35);
  content: "";
  flex-grow: 1;
  font-size: 0px;
  height: 1px;
  line-height: 0px;
  margin: 0px 8px;
}

.css-yk16xz-control,
.css-1pahdxg-control {
  height: auto !important;
}
