.preferences__card-content {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 0.5em;
  .preferences__subtitle {
    font-size: 1em;
    color: #6e6e6e !important;
    font-weight: 600;
    margin-right: 1em;
    width: 20%;
  }

  .preferences__tags {
    display: flex;
    flex-direction: row;
    // justify-content: center;
    align-items: center;
    span {
      padding: 0.2em 1em;
      margin: 0 0.2em;
      font-size: 0.8em;
      font-weight: 600;
      border-radius: 26px;
      color: #fff;
    }
    span.red-tag {
      background-color: #88171a !important;
    }
    span.grey-tag {
      background-color: #6e6e6e !important;
    }
  }
}
