/* Festival countdown text */
.festival-countdown-days,
.festival-countdown-hours,
.festival-countdown-minutes {
  font-size: 48px;
  font-weight: 700;
}

.festival-countdown-days {
  color: #88171a;
  text-align: right;
}

.festival-countdown-hours {
  color: #fdb917;
  text-align: center;
}

.festival-countdown-minutes {
  color: #1c2d55;
  text-align: left;
}

.festival-countdown-text {
  color: #000;
  font-size: 16px;
}

/* Festival Hamilton page */
.festival-hamilton {
  padding: 128px 80px 48px;
}

/* Festival Hamilton coming soon */
.festival-hamilton-coming-soon {
  font-size: 48px;
  margin-bottom: 48px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .festival-hamilton {
    padding: 128px 16px 48px;
  }
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .festival-countdown-days,
  .festival-countdown-minutes {
    text-align: center;
  }
}
