/* Featured food-sample card */
.featured-food-sample-card {
  padding: 16px;

  &:hover {
    cursor: pointer;
  }
}

/* Featured food sample cards */
.featured-food-sample-cards {
  display: flex;
  flex-wrap: wrap;
}

/* Featured food samples */
.featured-food-samples {
  padding: 120px 16px;
  text-align: center;
}

/* Featured food samples title */
.featured-food-samples-title {
  color: #000;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* See all food samples */
.see-all-food-samples {
  font-size: 24px;
  margin-top: 48px;
  padding: 16px 32px;

  &:hover {
    color: #fff;
  }
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .featured-food-sample-card {
    padding: 16px 0px;
  }
}
