/* All experiences created */
.all-experiences-created {
  padding: 120px 25% 48px;
}

/* All experiences created navigation */
.all-experiences-created-navigation {
  text-align: left;
}

/* All experiences created navigation content */
.all-experiences-created-navigation-content {
  color: #000;

  &:hover {
    color: #000;
    text-decoration: underline;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .all-experiences-created {
    padding: 120px 12.5% 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .all-experiences-created {
    padding: 120px 16px 48px;
  }
}
