/* Review experience page */
.review-experience {
  margin: 0px auto;
  max-width: 960px;
  padding: 128px 0px 48px;
  word-break: break-word;
}

/* Review experience accept button */
.review-experience-accept-btn {
  background-color: #008000;
}

/* Review experience accept and reject buttons */
.review-experience-accept-btn,
.review-experience-reject-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  width: 100%;
}

/* Review experience accept content */
.review-experience-accept-content {
  padding: 0px 16px 0px 0px !important;
}

/* Review experience image */
.review-experience-image {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
  height: auto;
  max-height: 735px;
  max-width: 735px;
  padding: 10px;
  width: 100%;
}

/* Review experience image content */
.review-experience-image-content {
  padding: 0px 16px 32px 0px !important;
}

/* Review experience (reason/suggestions) */
.review-experience-reason-suggestions {
  border: 1px solid #ccc;
  height: 200px;
  padding: 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Review experience (reason/suggestions) content */
.review-experience-reason-suggestions-content {
  margin-bottom: 32px;
}

/* Review experience reject button */
.review-experience-reject-btn {
  background-color: #ff0000;
}

/* Review experience reject content */
.review-experience-reject-content {
  padding: 0px 0px 0px 16px !important;
}

/* Review experience sub-title */
.review-experience-sub-title {
  font-weight: 500;
}

/* Review experience text content */
.review-experience-text-content {
  padding: 0px 0px 32px 16px !important;
}

/* Review experience title */
.review-experience-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .review-experience {
    margin: 0px;
    max-width: 991px;
    padding: 128px 16px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .review-experience-accept-content {
    padding: 0px 0px 16px 0px !important;
  }

  .review-experience-image-content {
    padding: 0px 0px 32px 0px !important;
  }

  .review-experience-reject-content {
    padding: 0px !important;
  }

  .review-experience-text-content {
    padding: 0px 0px 32px 0px !important;
  }
}
