.festivals__explore-cards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.explore-cards {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explore-see-more {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  button {
    margin-top: 1em;
    width: 25%;

    a {
      color: #fff;
      text-decoration: none;
    }
  }
}

// below 480px
@media screen and (max-width: 480px) {
  .festivals__explore-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore-cards {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .explore-see-more {
    button {
      width: 100%;
    }
  }
}

// between 480px - 780px
@media screen and (min-width: 481px) and (max-width: 780px) {
  .festivals__explore-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }
  .explore-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    margin: 0 auto;
  }
  .explore-see-more {
    button {
      width: 50%;
    }
  }
}

@media screen and (min-width: 781px) and (max-width: 999px) {
  .explore-cards {
    .main-festival-card:last-child {
      display: none;
    }
  }
}
