/* Review food-sample page */
.review-food-sample {
  margin: 0px auto;
  max-width: 960px;
  padding: 128px 0px 48px;
  word-break: break-word;
}

/* Review food-sample accept button */
.review-food-sample-accept-btn {
  background-color: #008000;
}

/* Review food-sample accept and reject buttons */
.review-food-sample-accept-btn,
.review-food-sample-reject-btn {
  font-size: 16px;
  font-weight: 500;
  padding: 16px 32px;
  width: 100%;
}

/* Review food-sample accept content */
.review-food-sample-accept-content {
  padding: 0px 16px 0px 0px !important;
}

/* Review food-sample image */
.review-food-sample-image {
  border: 1px solid #ccc;
  box-shadow: 5px 5px 10px #ccc;
  height: auto;
  max-height: 735px;
  max-width: 735px;
  padding: 10px;
  width: 100%;
}

/* Review food-sample image content */
.review-food-sample-image-content {
  padding: 0px 16px 32px 0px !important;
}

/* Review food-sample (reason/suggestions) */
.review-food-sample-reason-suggestions {
  border: 1px solid #ccc;
  height: 200px;
  padding: 12px;
  resize: none;
  vertical-align: top;
  width: 100%;
}

/* Review food-sample (reason/suggestions) content */
.review-food-sample-reason-suggestions-content {
  margin-bottom: 32px;
}

/* Review food-sample reject button */
.review-food-sample-reject-btn {
  background-color: #ff0000;
}

/* Review food-sample reject content */
.review-food-sample-reject-content {
  padding: 0px 0px 0px 16px !important;
}

/* Review food-sample sub-title */
.review-food-sample-sub-title {
  font-weight: 700;
}

/* Review food-sample text content */
.review-food-sample-text-content {
  padding: 0px 0px 32px 16px !important;
}

/* Review food-sample title */
.review-food-sample-title {
  font-size: 24px;
  font-weight: 700;
  margin-bottom: 32px;
  text-align: center;
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .review-food-sample {
    margin: 0px;
    max-width: 991px;
    padding: 128px 16px 48px;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .review-food-sample-accept-content {
    padding: 0px 0px 16px 0px !important;
  }

  .review-food-sample-image-content {
    padding: 0px 0px 32px 0px !important;
  }

  .review-food-sample-reject-content {
    padding: 0px !important;
  }

  .review-food-sample-text-content {
    padding: 0px 0px 32px 0px !important;
  }
}
