$primary-color: #88171a;
$secondary-color: #fff;

/* Apply to Cook body */
.apply-to-cook-body {
  padding: 128px;
}

/* Apply to Cook body button and sub-title */
.apply-to-cook-body-btn,
.apply-to-cook-body-btn-responsive {
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: 700;

  &:hover {
    color: $secondary-color;
  }
}

.apply-to-cook-body-btn,
.apply-to-cook-body-sub-title {
  font-size: 40px;
  height: 100px;
  padding: 16px;
  width: 472px;
}

.apply-to-cook-body-btn-responsive {
  font-size: 32px;
  padding: 24px 32px;
  width: 100%;
}

.apply-to-cook-body-sub-title {
  background-color: $secondary-color;
  margin: 0px auto 32px;
}

.apply-to-cook-body-sub-title,
.apply-to-cook-body-sub-title-responsive {
  border: 4px solid $primary-color;
}

.apply-to-cook-body-sub-title-responsive {
  font-size: 32px;
  margin: 0px auto 24px;
  padding: 16px;
  width: 100%;
}

/* Apply to Cook body text */
.apply-to-cook-body-text {
  font-size: 24px;
  padding: 0px 34px 32px;
}

.apply-to-cook-body-text-responsive {
  font-size: 24px;
  margin-top: 16px;
}

/* Apply to Cook body timeline */
.apply-to-cook-body-timeline {
  background-color: $primary-color;
  height: 1910px;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
  width: 4px;
  z-index: -1;
}

/* Apply to Cook body timeline circles */
.apply-to-cook-body-timeline-circle-left {
  left: -10px;
}

.apply-to-cook-body-timeline-circle-left,
.apply-to-cook-body-timeline-circle-right {
  background-color: $primary-color;
  border-radius: 50%;
  height: 20px;
  position: absolute;
  width: 20px;
}

.apply-to-cook-body-timeline-circle-right {
  right: -10px;
}

/* Apply to Cook body title */
.apply-to-cook-body-title {
  font-size: 48px;
  font-weight: 700;
  margin-bottom: 48px;
}

/* Apply to Cook header */
.apply-to-cook-header {
  display: flex;
  padding-top: 80px;
}

/* Apply to Cook buttons */
.apply-to-cook-header-btn {
  width: 100%;
}

.apply-to-cook-header-btn,
.apply-to-cook-navbar-btn {
  background-color: $primary-color;
  color: $secondary-color;
  font-weight: 500;
  padding: 12px 16px;
  text-align: center;

  &:hover {
    color: $secondary-color;
  }
}

/* Apply to Cook header image */
.apply-to-cook-header-image {
  min-height: 412px;
}

/* Apply to Cook header image content */
.apply-to-cook-header-image-content {
  padding: 0px !important;
}

/* Apply to Cook header text */
.apply-to-cook-header-text {
  font-size: 24px;
  margin-bottom: 16px;
}

/* Apply to Cook header text content */
.apply-to-cook-header-text-content {
  background-color: #f8f8f8;
  padding: 32px !important;
}

/* Responsive design at min width 992px */
@media screen and (min-width: 992px) {
  .apply-to-cook-body-section-responsive {
    display: none;
  }
}

/* Responsive design at max width 991px */
@media screen and (max-width: 991px) {
  .apply-to-cook-body {
    padding: 48px 16px;
  }

  .apply-to-cook-body-section {
    display: none;
  }

  .apply-to-cook-body-title {
    font-size: 40px;
    margin-bottom: 40px;
  }

  .apply-to-cook-header-text-content {
    padding: 16px !important;
    text-align: center;
  }
}

/* Responsive design at max width 767px */
@media screen and (max-width: 767px) {
  .apply-to-cook-header-image {
    min-height: 360px;
  }
}

/* Responsive design at max width 575px */
@media screen and (max-width: 575px) {
  .apply-to-cook-header-image {
    min-height: 174px;
  }

  .apply-to-cook-navbar-btn {
    display: none;
  }
}
