.landing-page__button-primary-black-solid.sponsor__call-to-action {
  width: 40%;
  font-size: 1.2em;
  a {
    text-decoration: none;
    color: #fff;
  }
}

.host-landing-cta {
  width: 70% !important;
  &:hover {
    transform: scale(1.08);
    transition: all 450ms;
  }
}

.host-landing-sponsor {
  margin-top: -7em !important;
  display: flex;
  flex-direction: row;
  .host-sponsor-layout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.sponsor__heading {
  margin-top: 1em;
  font-size: 2.8em;
}

.sponsor__body {
  font-size: 1.2em;
}

.red-text {
  color: #88171a;
}

.join-button-sponsor-tasttlig {
  width: 100%;
}

.sponsor__layout {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  .sponsor__picture {
    width: 100%;
    border-radius: 20px;
    // padding: 3em;
  }
}

.container.host-landing {
  margin-top: 150px;
}

.host-landing-experience {
  margin-bottom: 4em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .host-landing-experience-heading {
    font-size: 3em;
  }
  .host-landing-experience-message {
    font-size: 2em;
    font-weight: 400;
  }
  .experience-content-right {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // padding: 1em;
    // margin: 1em;
    .host-landing-point-cards {
      padding: 1em;
      margin: 1em;
      background-color: #fff;
      color: #88171a;
      font-size: 2em;
      font-weight: 600;
      border-radius: 26px;
      transition: all 450ms;
      &:hover {
        transform: scale(1.08);
        transition: all 450ms;
      }
    }
  }
}

// below 480px
@media screen and (max-width: 480px) {
  .sponsor__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .landing-page__button-primary-black-solid.sponsor__call-to-action {
    width: 100%;
    margin-bottom: 1.2em;
  }
}

// below 780px
@media screen and (max-width: 780px) {
  .sponsor__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .landing-page__button-primary-black-solid.sponsor__call-to-action {
    width: 100%;
    margin-bottom: 1.2em;
  }
}

// below 1150px
@media screen and (max-width: 1150px) {
  .host-landing-experience {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .host-landing-experience-content {
    text-align: center;
    padding: 3em;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0 !important;
  }

  .sponsor__layout {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .host-landing-cta {
    width: 100% !important;
    margin-bottom: -1em;
  }
}


.terms-conditions-modal {
  background-color: rgb(252, 250, 250);
  border-radius: 10px 10px;
  // background-image: url('../../../assets/images/Oxtail.jpeg');
  color: #000;
  left: 50%;
  margin: 80px 0px;
  // padding: 5px;
  position: absolute;
  text-align: center;
  transform: translate(-50%);
  width: 50%;
  word-break: break-word;
  z-index: 8;
  transition: all 450ms;
}

